<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
</head>
<body>
    <header></header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
</body>
</html>
